/* loading page  */

.spinner-wrapper {
    position: fixed;
    z-index: 999999;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    background: #113448;
}

.spinner {
    position: absolute;
    top: 50%;
    /* centers the loading animation vertically one the screen */
    left: 50%;
    /* centers the loading animation horizontally one the screen */
    width: 3.75rem;
    height: 1.25rem;
    margin: -0.625rem 0 0 -1.875rem;
    /* is width and height divided by two */
    text-align: center;
}

.spinner>div {
    display: inline-block;
    width: 1rem;
    height: 1rem;
    border-radius: 100%;
    background-color: #fff;
    -webkit-animation: sk-bouncedelay 1.4s infinite ease-in-out both;
    animation: sk-bouncedelay 1.4s infinite ease-in-out both;
}

.spinner .bounce1 {
    -webkit-animation-delay: -0.32s;
    animation-delay: -0.32s;
}

.spinner .bounce2 {
    -webkit-animation-delay: -0.16s;
    animation-delay: -0.16s;
}

@-webkit-keyframes sk-bouncedelay {
    0%, 80%, 100% {
        -webkit-transform: scale(0);
    }
    40% {
        -webkit-transform: scale(1.0);
    }
}

@keyframes sk-bouncedelay {
    0%, 80%, 100% {
        -webkit-transform: scale(0);
        -ms-transform: scale(0);
        transform: scale(0);
    }
    40% {
        -webkit-transform: scale(1.0);
        -ms-transform: scale(1.0);
        transform: scale(1.0);
    }
}

/* Navbar */

.navbar-custom {
    font: 600 0.875rem/0.875rem "Open Sans", sans-serif;
    padding-right: 100px;
    padding-left: 100px;
}

.navbar-custom.top-nav-collapse {
    padding-right: 100px;
    padding-left: 100px;
}

.navbar-custom .navbar-brand.brand-dark {
    background-image: url("./lib/assets/img/rrc_navbar_dark@4x.png");
    background-size: cover;
    height: 50px;
    width: 100px;
}

.navbar-custom .navbar-brand.brand-light {
    background-image: url("./lib/assets/img/rrc_navbar_light@4x.png");
    background-size: cover;
    height: 50px;
    width: 100px;
}

/* Dropdown Menu */

.navbar-custom .dropdown:hover>.dropdown-menu {
    display: block;
    /* this makes the dropdown menu stay open while hovering it */
    min-width: auto;
    animation: fadeDropdown 0.2s;
    /* required for the fade animation */
}

@keyframes fadeDropdown {
    0% {
        opacity: 0;
    }
    100% {
        opacity: 1;
    }
}

.navbar-custom .dropdown-toggle:focus {
    /* removes dropdown outline on focus  */
    outline: 0;
}

.navbar-custom .dropdown-menu {
    margin-top: 0;
    border: none;
    border-radius: 0.25rem;
    background-color: #113448;
}

.navbar-custom .dropdown-item {
    color: rgba(255, 255, 255, 0.671);
    text-decoration: none;
}

.navbar-custom .dropdown-item:hover {
    background-color: #113448;
}

.navbar-custom .dropdown-item .item-text {
    font: 600 0.875rem/0.875rem "Open Sans", sans-serif;
}

.navbar-custom .dropdown-item:hover .item-text {
    color: #14bf98;
}

.navbar-custom .dropdown-items-divide-hr {
    width: 100%;
    height: 1px;
    margin: 0.75rem auto 0.75rem auto;
    border: none;
    background-color: #b5bcc4;
    opacity: 0.2;
}

/* end of dropdown menu */

.navbar-custom .navbar-toggler {
    border: none;
    color: #fff;
    font-size: 2rem;
}

.navbar-custom button[aria-expanded='false'] .navbar-toggler-awesome.fas.fa-times {
    display: none;
}

.navbar-custom button[aria-expanded='false'] .navbar-toggler-awesome.fas.fa-bars {
    display: inline-block;
}

.navbar-custom button[aria-expanded='true'] .navbar-toggler-awesome.fas.fa-bars {
    display: none;
}

.navbar-custom button[aria-expanded='true'] .navbar-toggler-awesome.fas.fa-times {
    display: inline-block;
    margin-right: 0.125rem;
}

/* background jumbotron home */

.topbg-1 {
    background-image: url('./lib/assets/img/home/Deskripsi_Pohon_1.jpg');
    background-position-y: 0px;
    background-size: cover;
    background-attachment: fixed;
    height: 1000px;
}

.position-custom-1 {
    position: relative;
    padding-top: 220px;
    padding-left: 50px;
}

.deskripsi-box-custom-1 {
    width: 300px;
}

/* button */

.btn.btn-primary-custom {
    border-radius: 20px;
    background-color: #C4C4C4;
    width: 300px;
}

/* intro */

.intro-align {
    text-align: center;
}

.basic-1 {
    padding-top: 6.5rem;
    padding-bottom: 3rem;
}

.basic-1 .text-container {
    margin-bottom: 3rem;
}

.basic-1 .section-title {
    margin-bottom: 0.5rem;
}

.basic-1 h2 {
    margin-bottom: 1.375rem;
}

.basic-1 .testimonial-author {
    color: #484a46;
}

.img-home-1 {
    width: 360px;
    height: 460px;
}

.img-home-1-custom {
    background-size: 20%;
}

.img-fluid-padding {
    padding-top: 50px;
}

/* Hover Animation */

.basic-1 .image-container {
    overflow: hidden;
    border-radius: 0.25rem;
}

.basic-1 .image-container img {
    margin: 0;
    border-radius: 0.25rem;
    transition: all 0.3s;
}

.basic-1 .image-container:hover img {
    -moz-transform: scale(1.15);
    -webkit-transform: scale(1.15);
    transform: scale(1.15);
}

/* iframe */

.iframe-custom {
    width: 480px;
    height: 360px;
}

.iframe-custom-1 {
    width: 480px;
    height: 360px;
}

.text-container-padding {
    padding-top: 50px;
}

/* carousel */

.txt-slider-custom {
    position: absolute;
    top: 60%;
    left: 50%;
    transform: translate(0%, -50%);
    font-size: 18px;
}

@media (min-width: 375px) {
    .iframe-custom {
        width: 345px;
        height: 360px;
    }
    .iframe-custom-1 {
        width: 345px;
        height: 360px;
    }
}

@media (min-width: 411px) {
    .iframe-custom {
        width: 384px;
        height: 360px;
    }
    .iframe-custom-1 {
        width: 384px;
        height: 360px;
    }
}

@media (min-width: 520px) {
    .iframe-custom {
        width: 500px;
        height: 360px;
    }
}

@media (min-width: 530px) {
    .iframe-custom {
        width: 520px;
        height: 360px;
    }
    .iframe-custom-1 {
        width: 520px;
        height: 360px;
    }
}

@media (min-width: 768px) {
    .deskripsi-box-custom-1 {
        width: 600px;
    }
    .position-custom-1 {
        position: relative;
        padding-top: 320px;
        padding-left: 50px;
    }
    .iframe-custom {
        width: 691px;
        height: 360px;
    }
    .iframe-custom-1 {
        width: 691px;
        height: 450px;
    }
}

@media (min-width: 992px) {
    .intro-align {
        text-align: left;
    }
    .text-container-padding {
        padding-top: 0px;
    }
    .iframe-custom {
        width: 531px;
        height: 450px;
    }
    .iframe-custom-1 {
        width: 930px;
        height: 450px;
    }
    .img-fluid-padding {
        padding-top: 0px;
    }
}

@media (min-width: 1024px) {
    .intro-align {
        text-align: left;
    }
    .text-container-padding {
        padding-top: 0px;
    }
    .text-container-padding-1 {
        padding-top: 120px;
    }
    .text-container-padding-2 {
        padding-top: 50px;
        padding-bottom: 100px;
    }
}

@media (min-width: 1200px) {
    .iframe-custom {
        width: 635px;
        height: 450px;
    }
    .iframe-custom-1 {
        width: 1110px;
        height: 450px;
    }
}

section {
    text-align: center;
}

.footer #button {
    width: 50px;
    height: 50px;
    border: #727172 12px solid;
    border-radius: 50px;
    margin: 0 auto;
    position: relative;
    -webkit-transition: all 1s ease;
    -moz-transition: all 1s ease;
    -o-transition: all 1s ease;
    -ms-transition: all 1s ease;
    transition: all 1s ease;
}

.footer #button:hover {
    width: 35px;
    height: 35px;
    border: #3A3A3A 12px solid;
    -webkit-transition: all 1s ease;
    -moz-transition: all 1s ease;
    -o-transition: all 1s ease;
    -ms-transition: all 1s ease;
    transition: all 1s ease;
    position: relative;
}

.footer {
    bottom: 0;
    left: 0;
    position: fixed;
    width: 100%;
    height: 2em;
    overflow: hidden;
    margin: 0 auto;
    -webkit-transition: all 1s ease;
    -moz-transition: all 1s ease;
    -o-transition: all 1s ease;
    -ms-transition: all 1s ease;
    transition: all 1s ease;
    z-index: 999;
}

.footer:hover {
    -webkit-transition: all 1s ease;
    -moz-transition: all 1s ease;
    -o-transition: all 1s ease;
    -ms-transition: all 1s ease;
    transition: all 1s ease;
    height: 400px;
}

.footer #container {
    margin-top: 5px;
    width: 100%;
    height: 100%;
    position: relative;
    top: 0;
    left: 0;
    background: #3A3A3A;
}

.footer #cont {
    position: relative;
    top: -45px;
    right: 190px;
    width: 150px;
    height: auto;
    margin: 0 auto;
}

.footer_center {
    width: 500px;
    float: left;
    text-align: center;
}

.footer h3 {
    font-family: 'Helvetica';
    font-size: 30px;
    font-weight: 100;
    margin-top: 70px;
    margin-left: 40px;
}